 <!doctype html>
 <html>

<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
    h1 {
        font-family: "inherit";
        font-weight: normal;
        padding: 0;
        margin-left: 250;
        text-align:center;
        color: #111111;}

    .btn-info {margin: 0px 0px 0px 400px;
        height:40px;
        width:400px;} /* Blue */

    .btn-info:hover {background: #0b7dda;}

    body{
        background: rgb(164, 206, 206);
    }

    

    </style>

</head>
<body>



 
    <header><strong>PLANT DOCTOR</strong></header>

    <h1>
        Please Upload Image
    </h1>

    <form  method = post enctype=multipart/form-data>
        <input class = "btn-info" type = file name= image>
        <br>

        <input class="btn-info" type = submit value = ClassifyImage>
        <br>
        <input class="btn-info" type = submit value = DetectImage>
        <br>
        <br>
        <!--{% if image_loc %}
        <img class = "mb-4" src= "static/upload/{{image_loc}}" alt = " " width = "256" height = "256"> -->
        <h3>Predictions : {{prediction}}</h3>
        <!--{% endif %} -->
    </form>
</body>

</html>
